<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chat room</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="/main.css" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
        <%- include('nav'); %>

    <div id = "chat-box">
            <h2>USER : <%= user.username.toUpperCase() %></h2>
            <hr/>
        <div id = "chat-window">
            <div id = "output">
            <div id = "feedback"></div>

            </div>
        </div>

        <!-- handle is a hidden type for now so that users dont edit -->
        <input id="handle" type="hidden" placeholder="<%= user.username %>">
        <input id="message" type="text" placeholder="message">
        <button id="send">Send Message</button>
    </div>

    <script src="/chatroom.js"></script>
</body>

</html>