<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chat Room Backend Project</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/auth/login">Login</a></li>
        </ul>
    </nav>
    <h1>Login To Our Chatroom</h1>
    <main>
        <p>This is the login page. </p>
       <ul>
        <li> <a class="google-btn" href="/auth/local">Local Login</a></li>
        <li><a class="google-btn" href="/auth/google">Google Login</a></li>
       </ul>
    </main>
</body>
</html>